div.SocialShareSocialButtons a.SocialShareButton {
    display: inline-block;
    text-decoration: none;
    outline:none;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    margin-right: 5px;
	width: 41px;
}
div.SocialShareSocialButtons a.SocialShareButton img{
	max-width: 100%;
}